 <div
	class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
	<div class="tabs">
		<a class="tab-item" href="#/successPage"> <i class="icon ion-bag"></i>
			Products
		</a> <a class="tab-item" href="#/viewCart"> <i
			class="icon ion-ios-cart"></i> Cart
		</a> <a class="tab-item" href="#/viewWallet"> <i class="icon ion-cash"></i>
			Wallet
		</a>

	</div>
</div> 
<ion-pane class="pane">
<ion-nav-view >
<ion-content class="scroll-content ionic-scroll  has-header">


<ion-gallery products="ym.products">
<div class='ion-gallery-content'>
  <div class='card gallery-card' ng-repeat='product in ym.products track by $index'>
    <div class='item gallery-item'>
    <div class="gallery-image-div">
      <img ng-src='{{product.image}}' class='gallery-product-image' style="width:20%" >
      <h3 class='gallery-product-title'></h3>
         <h3 class='gallery-product-price'> {{product.title}} </h3>
      <h3 class='gallery-product-price'> {{product.price}} $</h3>
      <div    class="flag flag-rollback" ><label>{{product.offer}}%<br>Off</label></div>
      <button class="btn btn-primary" style="margin-top: 4%;" ng-click="ym.addToCart(product);">Shop Now</button>
    </div>
  </div>
  </div>
</div>
</ion-gallery>
</ion-content>
</ion-nav-view>
</ion-pane>



<style>



.flag-rollback {
    background: #db1313;
}
.flag {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    float: left;
    clear: both;
    height: 16px;
    padding: 0 10px;
    margin-bottom: 4px;
    border-radius: 0 50px 50px 0;
    background: #db1313;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
}
</style>




