
<!-- <div style="background-image: url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT-EzYkCCZowHqYnqkY_767Bwg4VFzvxxa5FUDVZWMowIxUci8P');
background-size: 10% 10%; background-repeat: no-repeat; background-attachment: fixed;
background-position: center;"></div> -->
	
<form name="myForm" novalidate>
<div class="list has-header" >

		<label class="item item-input">
			<input type="text"
			placeholder="Phone Number" data-ng-model="ym.user.mobileNo" />
		</label> 
		<label class="item item-input" for="password"> 
			<input type="password" placeholder="Password" id="password" name="password"
			data-ng-model="ym.user.password" required />
		</label>

	</div>
	<button class="button button-block button-positive" data-ng-click="login();"
		style="margin-top: 44px">Login</button>

	<a href="#/register">Not a registered User??? </a>
</form>

